@page
@model eBakery.Web.Pages.app.Product.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info " id="nopcommerce-news-box">
            <div class="box-header with-border clearfix">
                <div class="box-title">
                    <i class="ion-md-image"></i>
                    Products
                </div>
                <div class="box-tools pull-right">
                    <a asp-page="./AddEditProduct" asp-route-id="0" class="btn btn-primary btn-sm">Add new Product</a>
                </div>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
</div>


